[submodule "The-Great-Monaco-Project-Of-Doom"]
	path = The-Great-Monaco-Project-Of-Doom
	url = https://github.com/Reavenk/The-Great-Monaco-Project-Of-Doom
[submodule "monaco-project-resources"]
	path = monaco-project-resources
	url = https://github.com/Manik-Sinha/monaco-project-resources
